<h2> 待辦事項清單 </h2>	

<%= link_to "New event", new_event_path %>

<table>
	<thead>
		<tr>
			<th>order</th>
			<th>title</th>
			<th>content</th>
		</tr>
	</thead>
	<tbody>
		<% @events.each do |event| %>
			<tr>
				<td><%= event.event_order %></td>
				<td><%= link_to event.title, event %></td>
				<td><%= truncate(event.content) %></td>
			</tr>
		<% end %>
	</tbody>
</table>