<h2> 新代辦事項 </h2>

<div class="col-md-8 col-md-offset-2">
	<%= simple_form_for @event do |f| %>
		<div class="group">
			<%= f.input :title %>
		</div>

		<div class="group">
			<%= f.input :content %>
		</div>

		<%= f.submit "submit", data: {disable_with: "submitting..."} %>
	<% end %>
</div>